<!DOCTYPE html>
<html>
<body>

<h1>Movie Reviewer</h1>

<a class="button" href="/signup">Create an account</a> or 
<a class="button" href="/login">Log In</a> /
<a class="button" href="/logout">Log Out</a> 
<img src="https://media.istockphoto.com/photos/movie-projector-on-dark-background-picture-id1007557230?k=6&m=1007557230&s=612x612&w=0&h=2c6NHjfH4sWCgTNoZCDLQx10_PdIfl-dI-nyZ9wF_jI=" alt="Movies" height=250 width=300>
<br> 
</body>
</html>