

Welcome <b> <%= @user.email %> </b> <br> <br> 

<a class="button" href="/reviews/new"> Review a Movie! </a> <br> <br> <a class="button" href="/reviews"> See your old reviews </a> <br> <br> 

<br> <br> <br> <br> 
<a class="button" href="/logout"> Log Out </a>